/******************************/
html, body {
	margin: 0;
	padding: 0;
}
audio {
	max-width: 90%;
	width: 90%;
}
/******************************/
.navbar-brand {
	padding-top: 0;
}
#navbarToggleExternalContent {
	position: fixed;
	z-index: 999;
	width: 100%;
}
.card-body {
	padding: 1.25rem 1.25rem 0.65rem 1.25rem;
}
#MainBlock {
	width: 100%;
	height: 100vh;
	background-color: rgb(33, 37, 34);
	opacity: 0.85;
	background-blend-mode: color-burn;
	background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' width='40' height='40' viewBox='0 0 40 40'><g fill-rule='evenodd'><g fill='%23000000' fill-opacity='1'><path d='M0 38.59l2.83-2.83 1.41 1.41L1.41 40H0v-1.41zM0 1.4l2.83 2.83 1.41-1.41L1.41 0H0v1.41zM38.59 40l-2.83-2.83 1.41-1.41L40 38.59V40h-1.41zM40 1.41l-2.83 2.83-1.41-1.41L38.59 0H40v1.41zM20 18.6l2.83-2.83 1.41 1.41L21.41 20l2.83 2.83-1.41 1.41L20 21.41l-2.83 2.83-1.41-1.41L18.59 20l-2.83-2.83 1.41-1.41L20 18.59z'/></g></g></svg>");
}
/******************************/
#TakeNoteBlock {
	display: none;
	width: 100%;
	height: 100vh;
	background-color: rgb(88, 127, 160);
	opacity: 0.85;
	background-blend-mode: color-burn;
	background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' width='40' height='40' viewBox='0 0 40 40'><g fill-rule='evenodd'><g fill='%23000000' fill-opacity='1'><path d='M0 38.59l2.83-2.83 1.41 1.41L1.41 40H0v-1.41zM0 1.4l2.83 2.83 1.41-1.41L1.41 0H0v1.41zM38.59 40l-2.83-2.83 1.41-1.41L40 38.59V40h-1.41zM40 1.41l-2.83 2.83-1.41-1.41L38.59 0H40v1.41zM20 18.6l2.83-2.83 1.41 1.41L21.41 20l2.83 2.83-1.41 1.41L20 21.41l-2.83 2.83-1.41-1.41L18.59 20l-2.83-2.83 1.41-1.41L20 18.59z'/></g></g></svg>");
}
.TakeNoteMenuIcon {
	max-width: 10%;
	width: 10%;
	cursor: pointer;
}
#TakeNewVoiceNoteElem {
	display: none;
}
#TakeNewImageNoteElem {
	display: none;
}
#TakeNewTextNoteElem {
	display: none;
}
/******************************/
#CardsBlock {
	display: none;
}
.NavbarOneCardBtn {
	word-wrap: break-word;
	white-space: pre-wrap;
	max-width: 100%;
	width: 400px;
}
.NavbarCardsTitle {
	margin-top: 40px;
}
.NavbarOneCardTitle {
	margin-bottom: 8px;
}
.OneCard {
	margin-top: 20px;
	width: 500px;
}
.OneCardTitle {
	padding: 5px 0px;
}
.OneCardText {
	margin-top: 13px;
	display: none;
}
.OneCardMoreBtn {
}
/******************************/
@media screen and (max-width: 600px) {
	.OneCard {
		width: 90%;
	}
	.TakeNoteMenuIcon {
		max-width: 30%;
		width: 30%;
	}
}
/******************************/
/* Voice recorder */
#VoiceRecorderControls {
}
#VoiceRecorderBtn { height: 15vh; }
#VoiceRecorderBtn.recording { 
	background: red;
	background: -webkit-radial-gradient(center, ellipse cover, #ff0000 0%,lightgrey 75%,lightgrey 100%,#7db9e8 100%); 
	background: -moz-radial-gradient(center, ellipse cover, #ff0000 0%,lightgrey 75%,lightgrey 100%,#7db9e8 100%); 
	background: radial-gradient(center, ellipse cover, #ff0000 0%,lightgrey 75%,lightgrey 100%,#7db9e8 100%); 
}
#SaveVoiceBtn, #SaveVoiceBtn img { height: 10vh; }
#SaveVoiceBtn { opacity: 0.25;}
#SaveVoiceBtn[download] { opacity: 1;}
/******************************/
/******************************/
/******************************/
/******************************/
/******************************/
/******************************/
/******************************/
/******************************/
/******************************/
/******************************/
/******************************/
/******************************/